body {
  background: url('http://cdn26.us1.fansshare.com/photo/backgroundimage/white-background-wallpaper-for-website-1746577445.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}